@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.text {
    margin: 0 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
}